
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Angular-Slick-Grid-primary: mat.define-palette(mat.$indigo-palette);
$Angular-Slick-Grid-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Angular-Slick-Grid-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Angular-Slick-Grid-theme: mat.define-light-theme((
  color: (
    primary: $Angular-Slick-Grid-primary,
    accent: $Angular-Slick-Grid-accent,
    warn: $Angular-Slick-Grid-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Angular-Slick-Grid-theme);

// :root {
//   $primary-blue: #2196F3;
//   $primary-yellow: #FED155;
//   $primary-orange: #FF725E;
//   $primary-green: #92E3A9;
// }

/* You can add global styles to this file, and also import other style files */
/* for example, let's change the mouse hover color */
$cell-odd-background-color: lightyellow;
$row-mouse-hover-color: lightgreen;

/* make sure to add the @import the SlickGrid Bootstrap Theme AFTER the variables changes */
@import '@slickgrid-universal/common/dist/styles/sass/slickgrid-theme-bootstrap.scss';

// ::-webkit-scrollbar-thumb {
//   background: #2196F3 !important;
// }

* {
  padding: 0%;
  margin: 0;  

  // Warning: If you change the font family, you can get UI impact.

  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  // font-family: 'Courier New', Courier, monospace;
  // font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Times New Roman', Times, serif;
  // font-family: Arial, Helvetica, sans-serif;
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  // font-family: Georgia, 'Times New Roman', Times, serif;
  // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  // font-family: Verdana, Geneva, Tahoma, sans-serif;
  // font-family: cursive;
  // font-family: fantasy;
  // font-family: monospace;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: inter-regular, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  // font-family: "Bookman Old Style", Georgia, serif !important;
}

html,
body {
  height: 100%;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  margin: 0;
  // background: #F5F5F5;  
  background: #F9FBFF !important;
}

.slick-column-name input[type=checkbox]:checked+label:before {
  color: #2196F3;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.blue-theme {
  $bg: #2196F3;
  $border-color: #2196F3;
  $toolbar-color: white;
  $font-color: white;
  $icon-only: $bg;
  $btn: $bg;
  $btn-with-icon: $font-color;
}
.orange-theme {
  $bg: #FF725E;
  $icon-only: $bg;
  $border-color: #FF725E;
  $toolbar-color: white;
  $font-color: white;
  $btn: $bg;
  $btn-with-icon: $font-color;
}
.yellow-theme {
  $bg: #FED155;
  $icon-only: $bg;
  $border-color: #FED155;
  $toolbar-color: white;
  $font-color: white;
  $btn: $bg;
  $btn-with-icon: $font-color;
}
.green-theme {
  $bg: #92E3A9;
  $icon-only: $bg;
  $border-color: #92E3A9;
  $toolbar-color: white;
  $font-color: white;
  $btn: $bg;
  $btn-with-icon: $font-color;
}
.dark-theme {
  $bg: darkgray;
  $icon-only: $bg;
  $border-color: white;
  $toolbar-color: darkgray;
  $font-color: white;
  $btn: $bg;
  $btn-with-icon: $font-color;
}

.mat-toolbar {
  background: #2196F3;
  // background: #FED155;
  // background: #FF725E;
  // background: #92E3A9;
  color: white;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #2196F3 !important;
}


.mat-dialog-container {
  padding: 0 !important;
  border-radius: 8px;
}

.btn-primary {
  color: #fff;
  background-color: #2196F3;
  border-color: #2196F3;
}

button:focus {
  outline: none;
  outline: none;
}

// .mat-drawer-inner-container {
//   width: 100%;
//   height: 100%;
//   padding: 24px;
//   overflow: auto;
//   -webkit-overflow-scrolling: touch;
// }


// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  // background-color: #000;
  background: #F9FBFF;
}

::-webkit-scrollbar-thumb {
  // background-color: #ffcc00;
  background-color: #2196F3;
  border-radius: 4px;
  border: 2px solid rgb(255, 255, 255);
}

.delete-icon {
  color: red;  
}

.animated-gradient {
  background: repeating-linear-gradient(
    135deg,
             rgba(35, 167, 215, 0.3) 0%,
             rgba(157, 35, 213, 0.3) 50%,
    rgba(35, 167, 215, 0.3) 100%
  );
     width: 70%;
     height: 10px;
     display: inline-flex;
     border-radius: 10px;
     background-size: 200% auto;
     background-position: 0 100%;
     animation: gradient 5s infinite;
     animation-fill-mode: forwards;
     animation-timing-function: linear;
 }